# this configures maestro.sh

# the current projects dir, $PWD as per default
#maestrodir="$PWD"

# git repos used (use the same name as in the dir arrays below)
toclone=(
    ["common_inv"]="https://github.com/zwischenloesung/common-inv"
    ["common_playbooks"]="https://github.com/zwischenloesung/common-inv"
)

# a local dir for (semi-)temporary data of the hosts (can savely be removed if necessary)
workdir="$maestrodir/workdir"

# the reclass inventories will constitute the knowledge base for the meta data
inventorydirs=(
    ["common_inv"]="$maestrodir/common_inv"
)

# ansible/debops instructions
playbookdirs=(
    ["common_playbooks"]="$maestrodir/common_playbooks"
)

# the plain config files, either as a source or target (or both)
storagedirs=(
    ["any_confix"]="none"
)

# further directories/repos that can be used
localdirs=(
    ["packer_templates"]="none"
    ["vagrant_boxes"]="none"
)

