# this configures maestro.sh

# the current projects dir, $PWD as per default
#maestrodir="$PWD"

# git repos used (use the same name as in the dir arrays below)
toclone=(
    ["common_inv"]="https://github.com/inofix/common-inv"
    ["example_inv"]="https://github.com/inofix/example-inv"
    ["common_playbooks"]="https://github.com/inofix/common-inv"
    ["maestro"]="https://github.com/inofix/maestro"
)

# a local dir for (semi-)temporary data of the hosts (can savely be removed if necessary)
workdir="$maestrodir/workdir"

# the reclass inventories will constitute the knowledge base for the meta data
inventorydirs=(
    ["common_inv"]="$maestrodir/common_inv"
    ["example_inv"]="$maestrodir/example_inv"
)

# ansible/debops instructions
playbookdirs=(
    ["common_playbooks"]="$maestrodir/common_playbooks"
)

# further local mappings for directories/repos that can be used
localdirs=(
    ["any_confix"]="none"
    ["packer_templates"]="none"
    ["vagrant_boxes"]="none"
)

